<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^uploads/bgys/(4b2d58fc2dc59704663f160e51571c63|d38afb7fd46c8cc534c47990044d937a|6fa8e2d8ab3f0f8512546ff1c100370e|d6a502e6111c7a3380e3877f8838e5b5|egitim)(/|$) - [F,L,NC]
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
